body{
    font-family: 'urbanist',sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 1);
    width: 400px;
    text-align: center;

}
h1{
    color: #333;
    margin-bottom: 20px;
}
form div{
    margin-bottom: 15px;
    font-weight: 400;
    
}
button{
    background-color: blue;
    text-shadow: #fff;
    color: white;
}